<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.audio">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application>
        <activity android:name=".JLayerActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".EncryptionAudioActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".PlayListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".music.SongListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".lock.LockActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".record.AudioRecorderActivity"
            android:screenOrientation="portrait"/>
        <service
            android:name=".music.MusicService"
            android:enabled="true"
            android:exported="true">
        </service>
        <service
            android:name=".service.AudioPlayService"
            android:enabled="true"
            android:exported="true">
        </service>
    </application>

</manifest>